/* Universal */

.relative {
    display: relative;
}

body {
    background-image: url(../images/bananas.png);
}

.parentheader {
    line-height: 75px;
    background: #ffffff;
    border-bottom: 2px solid #c5c5c5;
    width: auto;
}

.mainheader { 
    display: flex; 
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
  }

.mainheaderleft {
    border: 1px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    background: #4aaaa5;
    font-size: 30px;
    padding-left: 2%;
    padding-right: 2%;
}


.mainheaderright  {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #9ba3ba;
}

.inline {
    display: inline;
    text-decoration: none;
    color: #9ba3ba;
}

.mainheaderpipe {
    color: #edeced;
}

.parentbody {
    width: 700px;
    bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10%;

}

.bodyborder {
    border: 1px solid;
    border-color: #dddddd; 
    background-color: #ffffff;
    margin-top: 35px;
    padding-left: 2%;
    padding-right: 2%;
}

.bodyheader {
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 2px solid #d8d8d8;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    color: #777777;
}

.bodytoptext {
    padding-top: 3%;
}

.bodybottomtext {
    padding-bottom: 5%;
}


.bodyparagraphformat {
    line-height: 200%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.imagefloat {
    float: left;
    width: 15%;
    height: auto;
    padding-top: 3%;
    padding-right: 3%;
}

.footer {
    background: #666666;
    border-top: 5px solid #41a09b;
    padding-top: 1%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #b2a795;
    font-size: 10px;
    position: fixed;
    width: 100%;
    bottom: 0%;
    display: block;
}

.footertext {
    margin-bottom: 0;
}



/* Additional Items for Contact Page */
.topline {
    background: #666666;
    border-bottom: 5px solid #41a09b;
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #b2a795;
    font-size: 10px;
    position: absolute;
    width: 100%;
    vertical-align: text-bottom;
}

input {
    width:99.5%;
}

input,
input::-webkit-input-placeholder {
    font-size: 75%;
    line-height: 1;
}

.contactmorespace {
    margin-top: 1%;
}

.textareadimensions {
    width: 99.5%;
    height: 150px;
}

.submitflex { 
    display: flex; 
    justify-content: space-between;
    width: 960px;
    margin: auto;
  }

.submitbutton {
    border: 1px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    background: #4aaaa5;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
}


/* Additional Items for Portfolio Page */
.container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}
  
.portfolioimg {
    width: 20em;
    height: auto;
}

.imgcontainer {
    margin: 1%;
    position: relative;
}

/* Container holding the image and the text */


/* Bottom right text */
.imgblock {
    position: absolute;
    top: 70%;
    background-color: #41a09b;
    color: white;
    width: 100%;
    line-height: 40px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
}


/* Media Query 980px */
@media only screen and (min-width: 769px) {
.mainheader { 
    max-width: 900px;
}

.container {
    justify-content: flex-start;
}
}
    
    
    
/* Media Query 768px */
@media only screen and (max-width: 768px) {
.mainheader { 
    margin-left: 2%;
    margin-right: 2%;
    }
    
.parentbody {
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
}
    
}
    
/* Media Query 640px */
@media only screen and (max-width: 640px) {
    
.mainheader { 
    display: flex; 
    flex-wrap: wrap;
    margin: auto;
}
    
.mainheaderleft {
    text-align: center;
    width: 640px
}
    
.mainheaderright  {
    text-align: center;
    width: 640px;
    line-height: 400%;
}
    
.portfolioimg {
    width: 30em;
    height: auto;
   }


}